include LICENSE
include README.md
include requirements.txt
include requirements-dev.txt
include pytest.ini
include .coveragerc

recursive-include tyler *.py
recursive-include tyler/database/migrations *
recursive-include tyler/tools *
recursive-include tests *.py 