.features {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  width: 100%;
}

.featuresContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.featureItem {
  margin-top: 2rem;
  text-align: center;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.demoSection {
  background-color: var(--ifm-color-emphasis-100);
}

.demoContainer {
  max-width: 800px;
  margin: 2rem auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.demoGif {
  width: 100%;
  height: auto;
  display: block;
}
